*{  padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
/*cabecera*/
.cabecera, nav{
    text-align: center;
    padding: 2%;
    background-color: rgba(30, 105, 155, 0.856);
    z-index: 1;
}
@font-face{
    font-family: titulo;
    src: url(../fonts/Galada-Regular.ttf);
}

.cabecera h1{
    padding: 0;
    font-family: titulo;
    font-size: 8vw;
    color: rgba(46, 45, 45, 0.993);
}
nav{
    z-index: 3;
}
@media screen and (max-width:899px){
    .cabecera{
        background-color:  rgba(30, 105, 155, 0.918);
        text-align: justify;
    }
    .cabecera h1{
        color: rgba(61, 59, 59, 0.993);
        font-size: 10vw;
        padding-top: 2%;
    }
}
/*fin cabecera*/
body{
    background-image: url(../image/fondoheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.76);
    width: 90%;
    border-radius: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 10vw;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(216, 96, 17, 0.747);
    border-radius: 5%;
    padding: 5%;
}

@media screen and (min-width:900px){
    .wrapper{
        background-color: rgba(0, 0, 0, 0.76);
        width: 60%;
        border-radius: 5%;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-size: 10vw;
    }
}

/*footer*/
footer{
    background-color:  rgba(30, 105, 155, 0.781);
}
