* {box-sizing:border-box;
    font-family: 7w7;
}

.slideshow-container {

  max-width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: none;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:600px;
  line-height:300px;
  text-align:center;
}

#slider1 {
  background-image: url(../image/slider1.jpg);
}

#slider2 {
  background-image: url(../image/slider2.png);
}

#slider3 {
  background-image: url(../image/slider3.png);
}

@media screen and (max-width:800px){
  .mySlides {
    overflow: hidden;
    display: none;
    height: 600px;
    background-image: url(../image/vista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:500px;
    line-height:300px;
    text-align:center;
  }
}
.mySlides>.text {
  margin-top: 10%;
  margin-left: auto;
  color: aliceblue;
  width: 100%;
  font-size: 4vw;
  text-align: center;		
  display:inline-block;
  vertical-align: middle;
  line-height:normal;
  background-color: #05010181;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 2%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}