*{
    padding: 0%;
    margin: 0%;
    color: black    ;
}

#forms{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: justify;
}
.forms input{
    height: 50px0;
}

#form{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: rgba(158, 103, 20, 0.808);
    border-radius: 50px;
}
#instructions{
    margin-top: 5%;
    font-size: 25px;
}
@media screen and (min-width:800px){
    .wrapper{
        width: 600px;
        background-color: rgba(59, 96, 121, 0.555);
        border-radius: 20px;
    }
    #imagebuscar{
        margin-left: auto;
        margin-right: auto;
        width: 110px;

    }
}
@media screen and (max-width:800px){
    .wrapper{
        width: 80%;
        background-color: rgba(59, 96, 121, 0.555);
        border-radius: 12px;
    }
    #form{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        background-color: rgba(158, 103, 20, 0.808);
        border-radius: 30px;
        margin-top: 10px;
    }
    #imagebuscar{
        margin-left: auto;
        margin-right: auto;
        width: 110px;
    }
    
}